body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #024959;
    color: white;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-source {
    margin-bottom: 40px;
    width: 100%;
}

.source-title {
    font-size: 1.5em;
    color: #333;
    padding: 10px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    width: calc(25% - 20px); /* Adjust the width as needed */
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .read-more {
    display: block;
}

.title {
    margin: 0;
    font-size: 1.2em;
    color: #025E73;
}

.summary {
    font-size: 1em;
    color: #666;
    margin-top: 15px;
}

.read-more {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .card {
        width: calc(16.666% - 10px); /* 在大屏幕上每行显示6个卡片 */
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .card {
        width: calc(25% - 20px); /* 在大屏幕上每行显示4个卡片 */
    }
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc(33.333% - 20px); /* Show 3 cards in a row */
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Show 2 cards in a row */
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 在较小屏幕上每行显示2个卡片 */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* 在手机屏幕上每行显示1个卡片 */
        margin-bottom: 20px;
    }

    .cards {
        justify-content: center;
    }
}

footer {
    font-size: 14px;
    background-color: #022B3A; /* Darker footer for aesthetic contrast */
    color: #fff;
}
